
body{
	font-family: arial,helvetica;
	color: #191919;
	font-family: Futura_PT_book;
	text-transform: uppercase;
}
form input{
  background: white;
  outline: none;
  text-transform: uppercase;

}
form input[type='text']{
  padding: 20px;
  background: white;
  border: solid 1px #dfdfdf;
  width :40%;
}
form input[type='tel']{
  padding: 20px;
  background: white;
  border: solid 1px #dfdfdf;
  width :40%;

}
.container{
  margin-top: 65px;
  width: 100%;
  margin-bottom: 100px;

}
.one_fourth{ 
  width: 20% !important;
}
.half{
  width: 50% ;
}
.one_third{
  width: 33% !important;

}
.two_third{
  width: 66% !important;
}
.header{
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 99999;
}
.desktop_banners{

}
.mobile_banners{
  display: none;
}
.menu_start_top ul{
	padding: 20px 0px;
}
.menu_start_top ul li{
	display: inline-block;
	width: 23%;
	color: white;
}
.menu_start_top ul li a{
	color: white;
}
.menu_start_top ul li:first-child{
	text-align: left;
}
.menu_start_top ul li span{
	 font-size: 10px;
}

.ghost{
  opacity: 0.5;
}
.content{
	width: 100%;
	height: 600px;
	background: blue;
}

.collection_list{
	height: 100%;
}
.collection_sec{
	height: 900px;
	width: 33%;
	text-align: center;
	display: inline-block;
	text-align: center;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.collection_sec div{
	display: inline-block;
	vertical-align: middle;
}
.vertical_center_helper{
	width: 0px;
	background: red;
	height: 100%;

}

.collection_sec .title{
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.collection_sec .title span{
	font-size: 3em;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #ffffff;

}
.collection_sec .title a{
	display: block;
	color: white;
	margin-top: 20px;
}
.banner .title{


}
.banner .title a{

	font-size: 4em !important;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	font-family: Futura_PT_bold;

}
#sortable1 {
   min-height: 1100px;

}
#menu_1{
	max-width: 50px;
	max-height: 50px;
	padding: 10px 15px;
	font-size: 30px;
	position: fixed;
	top: 0;
	right: 0px;
	display: none;
	z-index: 999999999;
	cursor: pointer;
	color: #191919;
}
/*//////////////////////////////////////////////////////////СОРТИРОВКА////////////////////////////////////////////////////////////////*/
.blocksSheet{


}
.blocksSheet .section{
  margin: 20px 100px;
  padding: 10px;
  border: 3px dashed blue;
  opacity: 0.5;
  position: relative;
  display: block; 
}


.block_delete{
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  width: 30px;
  padding: 3px 0;
  cursor: pointer;
  display: none;
  color: white;
  background: black;
}

#sortable2 .section{
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px dashed white;
  cursor: move; 
  display: block;  
}






/*//////////////////////////////////////////////////////////СОРТИРОВКА////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////мобильное меню////////////////////////////////////////////////////////////////*/
.mob_menu {
	right: -285px; /* прячем меню */
	height: 100%;
	position: fixed;
	width: 285px;
	text-align: left;
	color: white ;
	z-index: 9999;
	top: 0px;
	background: rgba(256, 256, 256, 1);
	text-transform: none;
}
.edit_menu {
	left: -285px; /* прячем меню */
	height: 100%;
	position: fixed;
	width: 285px;
	text-align: left;
	color: white ;
	z-index: 9999999999999;
	top: 0px;
	background: #020202;
	text-transform: none;
}

.edit_open_btn{
    position: fixed;
	z-index: 99999999999;
	left: 0;
	top: 50%; 
	color: white;
	cursor: pointer;
    width: 20px;
    opacity: 0.5;
	background: #3e4148;
    font-size: 20px;
    padding: 10px 5px; 
	border-radius: 0 3px 3px 0;
}

.greenBtn{
  text-align: center;
  background: #478f79; 
  color: white !important;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

}
.menu_search {
	background: rgba(59, 59, 59, 0.9);
	top: 0px; /* прячем меню */
	height: 80px;
	position: fixed;
	width: 100%;
	text-align: left;
	color: black;
	z-index: 9999;
	left: 0px;
	display: none;
}
.mob_search_close {
	padding: 0px;
	width :50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	margin-left: 20px;
}
.mob_search_close img{
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.search_mob{
	display: inline-block;
	vertical-align: middle;
	float: right;
	padding: 10px;
	margin-right: 45px;
}
.search_mob input{
	outline: none;
	border: none;
	background: none;
	color: white;

}
.btn_black{
	padding: 10px;
	background: black;
	border-radius: 3px;
	color: white;
	width: 150px;
	cursor: pointer;
}
.search_mob input::-webkit-input-placeholder {color: white;}
.search_mob input::-moz-placeholder          {color: white;}/* Firefox 19+ */
.search_mob input:-moz-placeholder           {color: white ;}/* Firefox 18- */
.search_mob input:-ms-input-placeholder      {color: white;}

.search_mob button{
	outline: none;
	border: none;
	padding: 0 10px;
	background: #00ccff;
	height:	80px;
	margin-top: -10px;
	width: 60px;
	cursor: pointer;
	font-size: 20px;
}

.mob_menu_header{
	margin-top: -10px;
	padding: 20px 0;
	text-align: left;
	background: rgba(59, 59, 59, 0.9);
}
.mob_menu_photo{
	margin: 10px 0 0 20px;
}
.mob_menu_name{
	margin: -10px 20px 0 20px;
}

.mob_menu_header .mob_menu_photo  {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;

}
.mob_menu_header .mob_menu_photo  img {
	width: 100%;
}

.mob_menu_header .mob_menu_search {
	float: right;
	margin: 20px;
	font-size: 20px;
}
.mob_menu_header  div{
	display: block;
	cursor: pointer;
}
.mob_menu_header  div a{
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.mob_menu_header  div img{
	width: 40px;
}
.mob_menu_header  .notes{
	font-size: 25px;
	margin: 20px 10px 0 20px;
}
.mob_menu_opened{
	background: #00ff99;
	height: 100%;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 20px;
	float: right;
}

.mob_menu_list{


}
.mob_menu_list ul{
	padding-left: 0px;
	
	
}
.mob_menu_list ul li {
  text-transform: uppercase;
  font-family: Futura_PT_medium
}
.mob_menu_list ul li:hover{
	background: rgb(220,220,220);
}
.mob_menu_list ul li.active{
	background: rgb(220,220,220);
}
.mob_menu_list ul li a{
	font-size: 16px;
	display: block;
	height: 100%;
	padding: 15px 0 15px 20px;
	color: black;
}
.mob_menu_list ul li i{
	color: rgb(150,150,150);
	width: 30px;
	text-align: center;
}
.mob_menu_list ul li a span{
	margin-left: 30px;
}
/*///////////////////////////////////////////////////мобильное меню////////////////////////////////////////////////////////////////////*/




.menu_top_normal{
  width: 100%;
  position: absolute;
  top: 0;

}
.menu_top_fixed{
  z-index:  999;
  position: fixed;
  width: 100%;
  top: 0;
}
.menu_top_minimal{
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 9999999;

}
.menu_top_minimal .menu_top ul li:first-child{
 display: none;
}
.menu_top_minimal .menu_top ul li:last-child{
 display: none;
}
.menu_top{
	width: 100%;
	top: 0;
	height: 61px;
	background: white;
	border-bottom: 2px solid #eaeaea;
	padding-top: -10px;
}
.menu_top ul {
	text-align: center;
}
.menu_top ul li{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -3px;
}
.menu_top ul .menu_item{
	border-bottom: 2px solid #eaeaea;
	font-family: Futura_PT_medium;
}
.menu_top ul .menu_item a{
	
}
.menu_top ul .menu_item:hover{
	border-bottom: 2px solid #191919;
}
.menu_top ul li a{
	display: block;
	height: 100%;
	padding: 20px 0px;
    margin: 0 20px;	
}
.menu_top ul li  span{
	display: inline-block;

	
}

.menu_top ul li:first-child{
	float: left;
	margin-top: -8px;
	
}
.menu_top ul li:last-child{
	float: right;
	margin-right: 30px;
}
.menu_top ul li a{
	display: block;
	height: 100%;
	color: black;
}

/*////////////////CUSTOM SELECT CSS///////////////////////*/

.select{
  width: 100%; 
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2px;
  background: rgba(0,0,0,.2);
  position: relative;
}
.select:hover{
  border: 1px solid black;
}
.select-active {
  border-radius: 0 0 2px 2px;
  border: 1px solid border;
}
.selected{
  width: 100%;
  height: 100%;
  line-height: 23px;
  cursor: pointer;
  color: white;
  padding: 25px 0px;
  
}
.selected span{
  margin: 0 20px;
  
}

.option-list{
  display: none;
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: -1px;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 2px 2px 0 0;
  background: black;
  z-index: 2;
  text-align: left;
  
}
.option{
  width: 100%;
  cursor: pointer;
  color: white;
}
.option  a{
  color: white;
  padding: 20px 0;
  height: 100%;
  display: block;
}
.option  a span{
  margin-left: 20px;
}

.option div{
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.option:hover{
  background: rgba(255,255,255,.2);
  cursor: pointer;
}
/*////////////////CUSTOM SELECT CSS///////////////////////*/

.filter_bottom {
    width: 100%;
	position: fixed;
	bottom: 0;
	background: black;
	z-index:  9999999;
}
.filter_bottom ul{
  text-align: left;
  padding: 0 20px;
}
.filter_bottom ul li{
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}
.filter_bottom ul li .fil_item{
  color: white;
}
.filter_bottom ul li .basket_icon{
  margin-left: 20px;  
}
.filter_bottom ul li .basket_icon a{
  color: white;
}
.filter_bottom ul li .basket_icon .items_count{
  background-color: #5f5f5f;
  border-radius: 50%;
  width: 25px;
  padding: 2px 0;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
}
.filter_bottom ul li .selected:after{
	content: "▲";
	font-size: 8px;
	float: right;
	margin-right: 40px;
	color: white;
	 -webkit-transition: 0.7s ease-in-out;
     -moz-transition: 0.7s ease-in-out;
     -o-transition: 0.7s ease-in-out;
     transition: 0.7s ease-in-out;
}
.filter_bottom ul li:hover .selected:after{
	content: "▼";
	color: white;
}


.logo_sign a{
  color: white;
  font-size: 28px;
  font-weight: 100;
  font-family: Futura_PT_bold;
  
}
.logo_sign a span{
  font-size: 10px;
}
.white{
  color: white !important;
}
.black{
  color: black !important;
}


.banner{
	background-position: top !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.no_results{
  padding: 50px 0 ;

}

.footer{
	width: 100%;
	background: white;
	text-align: center;
	font-size: 14px;
	padding-top: 0px;
	
}
.logo_footer{
  font-family: Futura_PT_bold;
}
.footer .footer_left{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.footer .footer_right{
	display: inline-block;
	vertical-align: top;
	width: 66%;
}
.footer .footer_right div{
	display: inline-block;
	vertical-align: top;
	width: 22%;
}
.footer  ul{
	margin-top: 50px;

}
.footer   ul li{
	margin: 15px 0px;
	font-weight: bold;
	color: black;
	text-align: left;

}
.footer .footer_left  ul{
	margin: 50px 20%;
}
.footer .footer_left  ul li a:first-child{
	font-size: 35px;
}
.footer .footer_left  ul li a:first-child span{
	font-weight: bold;
	font-size: 12px;
}
.footer  ul li a{
	color: black;
}
.footer  ul li span{
	color: black;
	opacity: 0.5;
}
/*/////////////////////////////////////////КАРТОЧКА ТОВАРОВ/////////////////////////////////////////*/
.items{
	text-align: center;
}
.items .item{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	min-width: 250px;
	border: solid 1px #e9e9e9;
	background: white;
	margin:  0 -2.5px;
}
.items .item .item_in{
	margin: 40px;
	font-family: Futura_PT_medium;
}
.items .item .cathegory{
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
.items .item .photo{
	text-align: center;
	margin: 20px 0;
}
.items .item .photo a{

}
.items .item .photo img{
	width: 100%;
	max-width: 231px;
	height: 231px;
	display: none;
}
.items .item .photo img:first-child{
	display: inline-block; 
}
.items .item .name{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	text-align: left;
	float: left;
	width: 100%;
	max-width: 250px;
	min-height: 80px;
	margin-bottom: 20px;
	font-family: Futura_PT_bold;
}

.items .item .price_hide_basket{
	float: right;
}
.items .item:hover .price_hide_basket .price{
	display: none;
}
.items .item:hover .price_hide_basket .hidden_basket{
	display: block;
}
.items .item .price_hide_basket .hidden_basket{
	width: 54px;
	padding: 15px 0;
	font-size: 20px;
	background-color: #191919;
	color: white;
	display: none;
	cursor: pointer;
}
.item_banner{
  background-position: center !important;
  background-size: cover !important;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.item_banner .item_in .name{
  display: block;
  color :white;
  font-size: 30px;
  max-width: 300px;
  font-weight: 700;
  
}
.item_banner .item_in .more {
  max-width: 300px;
  text-align: left;
  
}
.item_banner .item_in .more a{
  display: block;
  color :white;
}
.big_items{

}
.big_items ul li{
	background: white;
	text-align: center;
}
.big_items ul li div{
	display: inline-block;
	vertical-align: middle;
	width :48%;
}
.big_items ul li div:last-child{
	cursor: pointer;
}
.big_items ul li div p{
	font-family: Futura_PT_medium;
	font-size: 18px;
	margin: 20px 0;
}
.big_items ul li div div{
	font-family: Futura_PT_bold;
	font-size: 2.8em;
}

.big_items ul li div:last-child{
	text-align: left;
}
.big_items ul li div img{
	width: 500px;
	max-width: 700px;
}
.instablock{


}
.instablock div{
   display: inline-block;
   vertical-align: middle;   
}
.insta_desc{
  width: 30%;
  text-align: right;

}
.insta_desc div{
  text-align: left;
  max-width: 400px;
  margin-right: 100px;
 
}
.insta_desc div p{
    font-family: Futura_PT_bold;
	font-size: 4em;
}
#delta{
  display: none;

}
.insta_desc span a{
   color: #191919;
   text-align: left;
   margin-top: 100px;

}
#insta_imgs{
   width: 69%;
   height: 780px; 
   background: white;
   overflow-x: scroll;
   overflow-y: hidden; 
   white-space: nowrap; 
     
}
/* хром, сафари */
#insta_imgs::-webkit-scrollbar { width: 0; }

/* ie 10+ */
#insta_imgs { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
#insta_imgs { overflow: -moz-scrollbars-none; }

#insta_imgs div {
   width: 390px;
   height: 780px; 
   background: white;
   display: inline-block;  
   vertical-align: top;
   overflow: normal;   
      
}
#insta_imgs div img{
   width: 390px;
   height: 390px; 
   background: green; 
   display: block;
     
}
#insta_imgs div img:hover{
  opacity: 0.5;
}
/*-----------------------------------------CARD---------------------------------------------------------------------------*/
.card_slider{
	
	
	
}
.card_props_item .nom{
	width: 100px;
	
	
	
}
.slides li div{
	width: 100;
	height: 600px;
	background-position: center !important;
    background-size: cover !important;
	
	
}
.card_container .slider_slider{
	width: 39%;
	display: inline-block;
	vertical-align: top;
    background:  none;
    margin: 0px;
    padding: 0px;  
}

.card_container .card_stats{
	width: 59%;
	display: inline-block;
	vertical-align: top;
    background:  none;
    margin: 0px;
    padding: 0px;  
}
.color_row{
		
}
.cur_color{
	margin-left: 163px !important;
	margin-top: -10px !important;
}
.size_table{
	margin-left: 163px !important;
	margin-top: -10px !important;
	text-decoration: underline;
}
.color_row  ul li{
	display: inline-block;
	cursor: pointer;
	border: 6px solid white;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
	text-align: center;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	
	
}
.color_row  ul li div{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: url('../img/checked.png');
	background-position: center !important;
    background-size: cover !important;
	margin-top: -18px;
	visibility: hidden;
	
	
}
.size_row  ul li{
	display: inline-block;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.39);
	text-align: center;
	width: 40px;
	padding-top:  10px;
	height: 30px;
	margin-right: 10px;
	text-decoration :uppercase;
	
	
}
.size_row  ul li div{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: url('../img/checked.png');
	background-position: center !important;
    background-size: cover !important;
	margin-top: -57px;
	margin-left: 25px;
	visibility: hidden;
	
	
}
.card_title, .card_desc{
	margin-left: 20px;
	
	

}
.card_title{
	margin-top: -5px;
	
	

}
.slider_slider{
	
    margin: 0px;
    padding: 0px;  
}
.my_controls{
	width: 15%;
	display: inline-block;
	vertical-align: top;
    background:  none;
    padding: 0px;    
	margin-right: 10px;
 	
}
.my_controls ol li{
	
 margin-left: -58px;
 margin-top: -15px;
 margin-bottom: 30px;
 -webkit-box-shadow: 0px 0px 39px -4px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 39px -4px rgba(0,0,0,0.39);
box-shadow: 0px 0px 39px -4px rgba(0,0,0,0.39); 
}

.card_slider{
	width: 69%;
	display: inline-block;
	vertical-align: top;
   
    margin: 0px;
    padding: 0px;  
}


 .card_stats{
	text-align: left;
	
}
.card_props_item div{
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
}
.my_contriols{
	
}
.my_controls ol li div{
	
	width: 80px;
	height: 140px;
	cursor: pointer;
	background-position: center !important;
    background-size: cover !important;
    margin-bottom: 10px;	
	
}
.my_contriols{
	
	
}

.new_ed_price{
	font-size: 18px;
}
.old_ed_price{
	text-decoration: line-through;
	font-size: 18px;
}

.new_pack_price{
	font-weight: bold;
	font-size: 25px;
}

.old_pack_price{
	text-decoration: line-through;
	font-weight: bold;
	font-size: 22px;
}
.card_sale_about{
	margin-bottom: 50px;
	text-align: left;
  
}
.card_sale_about p{
	
    font-style :italic;
	opacity: 0.5;
	line-height: 30px;
}
.card_center{
	text-align: center;
	margin-top: 80px;
}
.card_sale_title {
	text-align: center !important;
	margin-top: -25px ;	
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: black;
	display: inline-block;
	background: #fbfaf4;
}
.card_sale_title div {
	width: 90%;
	max-width: 700px;
	background: #fbfaf4;
	max-width: 500px;	
	font-size: 25px;
	display: inline-block;
}
.line{
	width: 100%;
	height: 1px;
	background: grey;
	display: block;
}
.to_basket{
	padding: 10px 20px;
	background: #cead80;
	width: 120px;
    height: 20px;	
	color: white;
	border-radius: 3px;
	background: #cead80;
	text-align: ceter;
	margin-left: 20px;
	margin-top: 30px;
	cursor: pointer;
}
.to_basket img{
	margin-bottom: -5px;
    margin-left:  20px;	
	width: 20px;
}
/*/////////////////////////////////////////CARD/////////////////////////////////////////*/

/*/////////////////////////////////////////CATALOG/////////////////////////////////////////*/
.catalog_header{
  width: 100%;
  padding:  100px 0; 
}
.catalog_header .catalog_title{
  font-size: 3.5em;
  font-weight: bold;
  max-width: 500px;
  margin: 0 100px; 
  font-family: Futura_PT_bold;
}
.catalog_header .catalog_title span{
  color: #56c4ff;

}
.catalog_view{
  float: right;
  margin: 0 100px;
  margin-top: -50px;
}
.catalog_view div{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -5px;
  width: 54px;
  color: #191919;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  border: solid 1px #dfdfdf;
}
.catalog_view .view_active{
  background-color: #191919 ;
  color: #ffffff ;
}


/*/////////////////////////////////////////CATALOG/////////////////////////////////////////*/


/*/////////////////////////////////////////BASKET/////////////////////////////////////////*/

.basket_goods{
	width :100%;
	
}
.basket_items_count{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  color :white;
  padding: 3 5px;
  background: #191919;
}
.basket_unit{
	width :33%;
	display: inline-block;
	font-size: 10px;
	border: solid 1px #e9e9e9;
	margin-left: -5px !important;
}
.basket_unit_in{
	margin: 30px;	
}
.basket_unit_photo{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.basket_unit_photo img{
  width: 100%;
}
.basket_unit_stats{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin-left: -5px !important;
}
.customers_data{
	text-align: center;
	width: 95%;	
	text-align: left!important;
}
.customers_data input[type='text'], .customers_data input[type='tel']{
	width: 100% !important;
	padding: 20px 0!important;
    margin: 5px;
	
}
.basket_result_in{
	margin: 20px;
	width: 90%;
	text-align: left!important;
}
.customers_data button{
	width: 100% !important;
	padding: 20px 0;
    border: none;
	outline: none;
	background: #191919;
	color: white;
	
}
.basket_summary{
	margin: 20px 0;
	text-align: center !important;
}
.basket_summary .sum_price{
	font-size: 20px;
}
.basket_summary button{
	width: 50% !important;
	padding: 20px 0;
	margin: 20px 0;
    border: none;
	outline: none;
	background: #191919;
	color: white;
}


/*/////////////////////////////////////////BASKET/////////////////////////////////////////*/

/*/////////////////////////////////////////PERSONAL/////////////////////////////////////////*/
.personal_info{
 text-align: center;

}
.thumb_tim_preload{
  width: 200px;
  border-radius: 50%;

}

/*/////////////////////////////////////////PERSONAL/////////////////////////////////////////*/

/*/////////////////////////АДАПТИВНОСТЬ//////////////////////////////////*/
@media(max-width: 1400px){
 .basket_unit{
	width :50%;
	margin-left: -5px !important;
    }

}


@media(max-width: 1200px){
  .items .item{
	width: 33%;
  }



}

@media(max-width: 900px){
.basket_unit{
	width : 100%;
    }
}

@media(max-width: 800px){
    .desktop_banners{
      display: none;
    }
    .mobile_banners{
      display: block;
    }
	.menu_top ul li{
	 display: none;	
	}
	.menu_top ul li:first-child{
	 display: inline-block;	
	 
	}
	.menu_start_bottom{
		display: none;
	}
	.menu_mobile{
		display: block;
	}
	.collection_sec{
		height: 33%;
		width: 100%;
		text-align: center;
		display: block;
		text-align: center;
		background-position: bottom center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
	}
	.collection_sec .title{
		margin: 0;
	}
	.items .item{
	  width: 50%;
    }
	

}
	
		


@media(max-width: 480px){
.container{
	margin-bottom: 0px;	
}
#menu_1{
	 display: block;
}
.basket_unit{
	width :100% ;
}
.basket_unit_photo{
  width: 100% !important;
}
.basket_unit_stats{
  width: 100% !important;
}
.small_slide  div{
	width: 100% !important;
	margin: 0 20px !important;
}
.small_slide div a img{
	width: 90% !important;
}
.small_slide div div{
	font-size: 20px !important;
	margin: 10px 0 !important;
	width: 90%;
}
.menu_top_normal{
	position: fixed;
	z-index: 999999;
}
.menu_start_top ul{
	display: none !important;
}
.menu_top{
	height: 55px;
	
}
.menu_top ul li:first-child{
	height: 30px;
	padding: 0px;
	margin-top: -3px;
}
.menu_top ul li:first-child a{
	
	padding: 15px 0;
}
.menu_start_top{
 display: none;
}
.menu_start_top ul li:first-child{
	display: inline-block !important;
	float: left;
	width: 200px;
	margin-left: 20px !important;
	
}
.menu_start_top ul li:first-child a{
	color: black !important;
}
.fp-controlArrow{
	display: none !important;
}
.instablock .insta_desc{ 
    margin: 30px 0px;
	width: 100%  !important;
	
	
}
.instablock .insta_desc div { 
	width: 100%  !important;
	text-align: center !important;
	margin: 0 !important;
	padding-bottom: 10px;
}
.instablock .insta_desc div p{ 
	font-size: 20px !important;

}
#insta_imgs{
	width: 100%  !important;
	height: 290px;
}
#insta_imgs div img{
   display: inline-block;
     
}
.collection_sec{
	height: 500px;
	
}
.horizontal-scrolling{
	height: 200px;
	margin-top: 60px !important;
	padding-top: 150px;
}
.horizontal-scrolling:nth-child(3){
	display: none !important;
}
.banner{
    margin-top: 50px;
	height: 300px;
	width: 100%;
	display: block !important;
	padding-top: 150px;
	
}
.banner .title{
	font-size: 10px !important;
	margin: 0 20px !important;
	
}
.menu_top_minimal{
	display: none !important;
}
.card_photo{
	width: 100%;
}	
.card_stats{
	width: 100%;
}	
.breadcrumbs{
	display: none ;
}
.card_photo_in{
	margin: 20px;
}
.item_in .name{
  width: 70% !important;

}
.photo_slider{
	width: 100% !important;
}
.items .item{
	width: 100%;
}
.items .half{
	width: 100% !important;
}
.catalog_title{
	margin: 20px  !important;
	font-size: 30px !important;
}
.catalog_header{
	padding: 20px 0  !important;
}
.catalog_view{
	float: none !important;
	width: 50% !important;
	text-align: center;
	margin-top: 30px;
}
#modal_form {
	margin-top: -300px !important;
	margin-left: -10px !important;
}
#modal_form_medium {
	overflow-y: scroll;
	margin-top: 200px;
	
}
#modal_form_medium form input{
	width: 100% !important;
	padding: 20px 0px;
	margin: 5px 0;
}

.filter_bottom{
	display: none !important;
}	
.order_area .quick_order{
	width: 100% !important;
	max-width: 100%;
}
.order_area .to_basket_price{
	width: 100% !important;
	max-width: 100%;
	margin-top: 20px !important;
}
.order_area .to_basket_price .to_basket{
	width: 70% !important;
	max-width: 70%;
	padding: 20px 0; 
	
	
}
.order_area .to_basket_price .price{
	width: 30% !important;
	max-width: 30%;
	padding: 20px 0; 
	
}
.card_stats_in{
	margin: 20px;
}	
.big_name{
	font-size: 20px;
	margin: 20px 0;
}
.color_title, .size_title{
	width: 100% !important;
}
.footer_left{
 width: 100% !important;
 margin: 0px !important;
	
}
.footer_left ul li{
text-align: center !important; 	
}
.empty_item{
	display: none !important;
}
.footer_right{
 display: none !important;		
		
}

	
		
}
@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */

a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
	list-style: none;
	margin:0;
	padding:0;
}


q:before,q:after {
	content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}





#modal_form {
	width: 80%;
    height: 80%;
    text-align: center; 	
	/* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
    text-align: center;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 0%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 9%; /* пoлoвинa экрaнa слевa */
	margin-top: -360px;
	margin-left: 0px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 999999999999999999999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}

#modal_form div {
	display: inline-block;
	width: 95%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
	background-position: center !important;
    background-size: cover !important;	
}

#modal_form_medium div img {
 width: 40%;
}

#modal_form_medium .modal_content {
	margin: 20px;
	height: 100%;
}
#modal_form_medium .modal_title {
	text-align: center;
	font-size: 25px;
    font-family: futura_PT_bold;
}
#modal_form_medium form {
	margin-top: 20px;
}
#modal_form_medium form select{
	width: 150px ;
	padding: 0 10px;
	outline: none;
	border: 1px solid  #e9e9e9;
	font-size: 25px;
	font-family: Futura_PT_medium;
}
#modal_form_medium button {
	width: 100%;
	padding: 20px 0;
	color: #fff;
	background: #191919;
	border: none;
	outline: none;
	margin-top: 20px;
	cursor: pointer;
	text-transform: uppercase;
}
#modal_form_medium p {
	text-align: left;
	font-size: 20px;
}

#modal_form_medium form .to_basket_accept{
    width: 100%;
	padding: 20px 0;
	color: #fff;
	background: #191919;
	border: none;
	outline: none;
	margin-top: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

#modal_form_medium {
	max-width: 500px;
    max-height: 600px;
	width: 80%;
	height: 80%;
    text-align: center; 	
	/* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
    text-align: center;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -330px;
	margin-left: -170px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 999999999999999999999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
#modal_form_small {
	width: 300px;
    height: 300px;
    text-align: center; 	
	/* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
    text-align: center;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -170px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 999999999999999999999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
#modal_form_small img{
	width: 200px;
	margin-top: 20px;
	
}
#modal_form_small .sub_res{
	display: inline-block;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}
#modal_form_small .sub_ok{ 
    display: inline-block;
	margin-top: 100px;
	width: 100px;
	padding: 10px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	background: black;
	margin-top: 40px;
	border-radius: 3px;
}

#modal_form #modal_close, #modal_form_small #modal_close, #modal_form_medium #modal_close {
   z-index: 999999999999; 
	width: 21px;
	height: 21px;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index: 8800; 
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none;
}

/*----------------------------------------Форма логина---------------------------------------------------------*/
.login_form{
   width: 100%;
   display :inline-block;
   padding-bottom: 30px;
     
}
.login_form  input[type='text'], .login_form  input[type='password']{
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #a6a6a6 #d9d9d9 #d9d9d9 #a6a6a6;
    border-radius: 3px;
    width: 85%;
    max-width: 350px;
    padding: 10px; 
	margin: 10px;
	margin-bottom: 20px;
}


.login_form span{
   float: left;
   margin-left: 15px;
   font-size: 13px;
   font-weight: bold;   
}
.login_form p {
   font-size: 14px; 
   margin: 10px;   
}
.login_form p a{
   font-size: 14px;
   color: rgba(0,0,0, 0.7);   
}
.login_form p a:hover{
   color: rgba(0,0,0, 1);   
}

#wrong_res{
 color: red;
}
/*--------ДЛЯ КЛИКОВ И ВЫПАДАЮЩИХ СПИСКОВ--------*/
.photo_round{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.photo_round img{
  display: inline-block;
  width: 100%;
  
}


.tabs {
  float: right; /* Все вкладки располагаем в одну строку */
  margin: 8px -10px 0 10px;
  text-align: right;
  width: 50px;
  
   /* Отступы вкладок друг от друга */
}
.tabs .photo_round{ 
  display: inline-block;
}
.drop_down_menu {
  display: none; /* Скрываем содержимое */
  padding-top: 20px; /* Чтобы название вкладки было ниже содержимого */
  position: absolute;
  width: 140px;
  margin-top: 15px;
  margin-left: -100px;
  
    /* Чтобы содержимое не двигало элементы на странице */
}
.drop_down_menu ul {
  background: white;
  margin-top: 8px;
  box-shadow: 0px 5px 50px rgba(30, 30, 30, 0.4);
  border: 1px solid #ddd;
  padding: 0px;
  width :100%;
  text-align: left;
}
.drop_down_menu::before {
    content: '';	
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid white; /* Добавляем треугольник */
}
.drop_down_menu ul li {
  padding:  10px 0; 
  width: 100%;  
}
.drop_down_menu ul li a{
  padding: 0px;  
}
.drop_down_menu ul li a i{
  margin-right: 10px;
}
.drop_down_menu ul li:last-child{
  float: none !important;
}
.drop_down_menu ul li:first-child{
  margin: 0px !important;
}
.drop_down_menu ul li:hover{
  background: rgba(10,10,10, 0.1); 
  cursor: pointer;
}
.tabs:active .drop_down_menu {
  display: block; /* Когда кликаем по вкладке, открываем содержимое content */
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.drop_down_menu:hover {
  display: block; /* Пока курсор наведён на контент, не закрываем его */
}


								